<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Material Design - Responsive Table</title>
  <script src="https://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>


  <link rel="stylesheet" href="css/style.css"/>

  <link rel="stylesheet" href="css/pagination.css"/>

</head>



<!--点击评分-->
<body>

<nav class="navbar navbar-default">
  <!-- Collect the nav links, forms, and other content for toggling -->
</nav>


  <div id="demo">
  <h1>评论信息展示</h1>
  <!--<h2>Table of my other Material Design works (list was updated 08.2015)</h2>-->
  
  <!-- Responsive table starts here -->
  <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
  <div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>评论时间</th>
          <th>评论内容</th>
          <th>评分</th>

        </tr>
      </thead>

    <tbody>
    <tr th:each="comment : ${commentList}" >
      <td th:text="${comment.time}">2016-3-19 12:23:23</td>
      <!--&lt;!&ndash;<td th:text="${reserveMes.time}">2016-3-19</td>&ndash;&gt;-->
      <td th:text="${comment.content}">好看
      </td>
      <td th:text="(${comment.grade})">23元起
      </td>
    </tr>
    </tbody>
    </table>

    <ul class="pagination modal-6">
      <li><a href="#" class="prev">&laquo;</a></li>
      <li> <a href="#">1</a></li>
      <li><a href="#" class="active">2</a></li>
      <li> <a href="#">3</a></li>
      <li><a href="#" class="next">&raquo;</a></li>
    </ul>

  </div>


</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  <script src="js/index.js"></script>

</body>
</html>
