
element.style {
}
global.css:1
.dlg-content {
    position: relative;
    z-index: 2;
    display: block;
    font-size: 1em;
    line-height: 1.4;
    padding: 0 0 .5rem 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
global.css:1
div, input, textarea, ul {
    resize: none;
    outline: 0;
    font-size: inherit;
}
user agent stylesheet
div {
    display: block;
}
Inherited from div#dlg_copy.dialog
global.css:1
div, input, textarea, ul {
    resize: none;
    outline: 0;
    font-size: inherit;
}
Inherited from body
global.css:1
body, html {
    background: #f0f0f0;
    color: #000;
    font: 400 13px arial,Microsoft Yahei!important;
    margin: 0;
    overflow: hidden;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
Inherited from html
global.css:1
body, html {
    background: #f0f0f0;
    color: #000;
    font: 400 13px arial,Microsoft Yahei!important;
    margin: 0;
    overflow: hidden;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
Pseudo ::scrollbar element
global.css:1
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
Pseudo ::scrollbar-thumb element
global.css:1
::-webkit-scrollbar-thumb {
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    border-radius: 6px;
    background-color: #c6c6c6;
}